.subscribe__form-input {
  max-width: calc(360/550*100%);
  width: 100%;
  font-family: inherit;
  border: none;
  font-size: 1.5em;
  line-height: 1.25;
  padding: 15px 0;
  padding-left: 20px;
  background: transparent;
}

.subscribe__form-input:focus {
  outline-style: none;
}

@media screen and (max-width: 768px) {
  .subscribe__form-input {
    font-size: 1em;
    padding: 10px 0;
    padding-left: 10px;
    width: 80%;
  }
}

