.popup__container {
    position: relative;
    display: flex;
      flex-flow: column nowrap;
    padding: 0;
    width: 100%;
    min-width: 282px;
    max-width: 430px;
    height: 330px;
    background: #24263B;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .popup__container {
        height: 322px;
        width: calc(100% - 38px);
    }
}
