.skills__info {
  max-width: 50%;
  width: 100%;
  display: flex;
    flex-direction: column;
    align-self: flex-start;
}

@media screen and (max-width: 520px) {
  .skills__info {
    align-self: center;
    max-width: 95%;
  }
}
