.bio__icon {
  width: 50px;
  height: 50px;
  padding: 7px;
  background-color: #0D0D0F;
  border-radius: 10px;
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;

}

.bio__icon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  rotate: 360deg;
}

@media screen and (max-width: 1280px) {
  .bio__icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .bio__icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 620px) {
  .bio__icon {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 4px;
  }
}

