.banner {
  position: relative;
}

@media screen and (max-width: 520px) {
  .banner {
      display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding-bottom: calc(100 / 1024* 100%);
  }
}
