.logo {
  width: 100px;
  height: 75px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 85%;
    height: 40px;
  }
}



.logo-centered {
  position: relative;
    margin: 0 auto;
    top: 10px;
}
