.form__input-area {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 200px;
  padding: 2%;
}

@media screen and (max-width: 620px) {
  .form__input-area {
    max-height: 150px;
  }
}

@media screen and (max-width: 520px) {
  .form__input-area {
    min-height: 80px;
    max-height: 100px;
  }
}
