.services__item-text {
  padding-bottom: 37px;
}

@media screen and (max-width: 768px) {
  .services__item-text {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 620px) {
  .services__item-text {
      font-size: 0.6em;
      line-height: 1.2;
  }
}
