.socials__link {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  background-color: #3b3d54;
  border-radius: 5px;
  box-shadow: 0px 0px 24px 0px #0F10186B;
  transition: all ease-in-out .3s;
}

.socials__link:last-child {
  margin-bottom: 0;
}

.socials__link:hover {
  opacity: .8;
}

@media screen and (max-width: 1600px) {
  .socials__link {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .socials__link {
    width: 30px;
    height: 30px;
  }
}

<<<<<<< HEAD
@media screen and (max-width: 768px) {
  .socials__link {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #00000020;
  }
}

@media screen and (max-width: 520px) {
  .socials__link {
    width: 20px;
    height: 20px;
    border-radius: 1px;
  }
}

@media screen and (max-width: 420px) {
  .socials__link {
      width: 15px;
      height: 15px;
  }
}
=======



>>>>>>> main
