.socials__img {
  max-width: 30px;
  width: 100%;
  align-self: center;
}

@media screen and (max-width: 1600px) {
  .socials__img {
    max-width: 20px;
  }
}

@media screen and (max-width: 768px) {
  .socials__img {
    max-width: 10px;
  }
}
