.tab {
  background-color: #dbdcdf24;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  border-style: none;
  border-radius: 5px 5px 0 0;
}

.tab:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #0acf83;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);
  transition: all ease-in-out .5s;
}


@media screen and (max-width: 520px) {
  .tab {
    padding: 3px;
    font-size: .75em;
    line-height: 1;
  }
}
