.tab {
  background-color: #dbdcdf24;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
}

.tab:focus {
  background-color: #FE461C;
}

@media screen and (max-width: 520px) {
  .tab {
    padding: 3px;
    font-size: .75em;
    line-height: 1;
  }
}
