.popup__item {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 13px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
}
.popup__item:focus {
    outline: none;
    border-bottom: 1px solid red;
    cursor: text;
}