.section {
  max-width: 1320px;
  width: 100%;
  transition: all ease-in-out .5s;
}

@media screen and (max-width: 1600px) {
  .section {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1440px) {
  .section {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1280px) {
  .section {
    max-width: 978px;
  }
}

@media screen and (max-width: 1080px) {
  .section {
    max-width: 900px;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    max-width: 800px;
  }
}

@media screen and (max-width: 920px) {
  .section {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    max-width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .section {
    max-width: 500px;
  }
}

@media screen and (max-width: 520px) {
  .section {
    max-width: 400px;
  }
}
