.portfolio__grid {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.75fr);
    justify-items: stretch;
  gap: 24px;
  width: 100%;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1320px) {
  .portfolio__grid {
    width: 95%;
    gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__grid {
      gap: 5px;
  }
}


@media screen and (max-width: 420px) {
  .portfolio__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
