.portfolio__grid {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
  gap: 24px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .portfolio__grid {
    width: 90%;
    gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__grid {
      gap: 5px;
  }
}
