.photo {
  min-height: 320px;
  border-radius: 8px;
  background-color: #c1c1c1a3;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.photo:nth-child(2n) {
  grid-row-start: 2;
  grid-row-end: -1;
}

.photo:nth-child(4n) {
  grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 1280px) {
  .photo {
    min-height: 220px;
  }
}

@media screen and (max-width: 1024px) {
  .photo {
    min-height: 180px;
  }
}

@media screen and (max-width: 520px) {
  .photo {
      min-height: 100px;
  }
}

@media screen and (max-width: 420px) {
  .photo:nth-child(6) {
      display: none;
  }
}
