.contacts__block {
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  height: fit-content;
}

@media screen and (max-width: 520px) {
  .contacts__block {
    max-width: 40%;
  }
}
